<ion-footer class="ion-no-border">
  <ion-toolbar class="tabs-toolbar">
    <div class="custom-tabs">
      <!-- Inicio -->
      <button class="tab-button" [class.active]="activeTab === 'home'" (click)="onTabClick('home')">
        <img src="assets/icon/inicio.png" alt="Inicio" class="tab-icon">
      </button>

      <!-- Historial -->
      <button class="tab-button" [class.active]="activeTab === 'history'" (click)="onTabClick('history')">
        <img src="assets/icon/historial.png" alt="Historial" class="tab-icon">
      </button>

      <!-- Notificaciones -->
      <button class="tab-button notifications-tab" [class.active]="activeTab === 'notifications'"
        (click)="onTabClick('notifications')">
        <img src="assets/icon/ti.png" alt="Notificaciones" class="tab-icon">
        <span class="notification-badge" *ngIf="unreadCount > 0">{{ unreadCount }}</span>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>